<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Cajitas</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon02.png' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}"> 
    
</head>
<body style="background-color: #517a1e;">
    {% include 'estilos_formularios.html' %}
<header>
    {% include 'navbar.html' %}
    <div class="clear"></div>
    <section class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                   <div class="logo">
                    <a href="#"><h2>CAJITAS</h2></a>
                   </div>
                </div>
                <div class="col-md-7" >
                    <ul class="nav navbar-nav" >
                      <li class="active"><a href="{% url 'Inicio' %}"style="color: #fff;">INICIO</a></li>
                      <li><a href="#" style="color: #fff;">En tendencia</a></li>
                      <li><a href="#"style="color: #fff;">Tiendas</a></li>
                      <li><a href="#"style="color: #fff;">Publicaciones</a></li>
                      <li><a href="#"style="color: #fff;">Canales</a></li>
                      <li><a href="#"style="color: #fff;">AYUDA</a></li>
                    </ul>
                </div>
                <!-- <div class="col-md-2">
                    <div class="cart">
                        <p><i class="fa fa-cart-arrow-down"></i><sup>0</sup> &#36;&nbsp;&nbsp;0.00</p>
                    </div>
                </div> -->
            </div>
            <div class="row">
                <div class="col-md-12">
                   <div class="header-part">
                    <p>{% block title %}HOME{% endblock %} &nbsp;&nbsp;&nbsp;<span><i class="fa fa-angle-right" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;{% block title2 %}Acerca de{% endblock %}</span></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</header>

<style>/*Aca paso TISO... le damos estilo a la imagen del slider.*/
    .slider {
        position: relative;
        text-align: center;
        color: white;
    }

    .slider img {
        width: 100%;
        height: 200px; 
        object-fit: cover; 
    }

    .slider h3 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        font-size: 400%;
    }
</style>

<section class="slider">
    <img src="{% static 'img/slider_cajas_verdes.png' %}" alt="Slider">
    <h3>{% block slider_title %}...{% endblock %}</h3>
</section>
<section style="background-color: #517a1e;">
{% block contenidoQueCambia %}
            
            

{% endblock contenidoQueCambia %} 
</section>
<footer>
    <style>
        .footer_top {
            background-color: #ff9822;
        }
        .col-md-4 h2 {
            color: #000;
        }
        .col-md-4 p {
            /* color: #0A1B0B; */
            font-size: 15px; 
            color: #517a1e;
        }
        .col-md-4 i {
            color: #517a1e;
        }
    </style>
    <div class="footer_top">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h2>INFORMATION</h2>
                    <a href="#"><p><i class="fa fa-circle" aria-hidden="true"></i>Cajitero del mes</p></a>
                    <a href="#"><p><i class="fa fa-circle" aria-hidden="true"></i>Cajitero del mes</p></a>
                    <a href="#"><p><i class="fa fa-circle" aria-hidden="true"></i>Cajitero del mes</p></a>
                    <a href="#"><p><i class="fa fa-circle" aria-hidden="true"></i>Cajitero del mes</p></a>
                    <a href="#"><p><i class="fa fa-circle" aria-hidden="true"></i>Cajitero del mes</p></a>
                </div>
                <div class="col-md-4 center">
                    <h2>INFORMATION</h2>
                    <a href="#"><p><i class="fa fa-circle" aria-hidden="true"></i>Mejor Tienda del mes</p></a>
                    <a href="#"><p><i class="fa fa-circle" aria-hidden="true"></i>Mejor Tienda del mes</p></a>
                    <a href="#"><p><i class="fa fa-circle" aria-hidden="true"></i>Mejor Tienda del mess</p></a>
                    <a href="#"><p><i class="fa fa-circle" aria-hidden="true"></i>Mejor Tienda del mes</p></a>
                    <a href="#"><p><i class="fa fa-circle" aria-hidden="true"></i>Mejor Tienda del mes</p></a>
                </div>
                <div class="col-md-4">
                    <div class="footer-contact">
                        <h2>CONTACTANOS</h2>
                        <a href="#"><p><i class="fa fa-map-marker" aria-hidden="true"></i>Necochea, Buenos Aires</p></a>
                        <a href="#"><p><i class="fa fa-phone" aria-hidden="true"></i>*pedir al email*</p></a>
                        <a href="#"><p><i class="fa fa-envelope" aria-hidden="true"></i>ricardo_tiso@hotmail.com</p></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_bottom">
       <div class="footer_overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="copy_txt">
                        <p>Copyright © 2024  Designed by <span>TISO</span></p>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="footer_logo">
                        <img src="{% static 'img/fedex.png' %}">
                        <img src="{% static 'img/master-card.png' %}">
                        <img src="{% static 'img/paypal.png' %}">
                        <img src="{% static 'img/visa.png' %}">
                        <img src="{% static 'img/american-express.png' %}">
                        <img src="{% static 'img/dhl.png' %}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>  
<script src="js/bootstrap.min.js"></script>  
<script src="js/active.js"></script>  
</body>
</html>